html {
  overflow-x: hidden;
  &.lock {
    overflow: hidden;
  }
}
body {
  font-size: 1em;
  min-width: 320px;
  line-height: 1;
  background: red;
  font-weight: 500;
  color: #000;
  display: flex;
  display: grid;
  box-sizing: border-box;
  overflow-x: hidden;
}
