:root {
  --container-width: 1220px;
  --primary-color: #2d5b7c;
  --accent-color: #06a3d8;
  --accent-hover-color: #057ca5;
  --lt-black-color: #191919;
  --black-color: #191919;
  --lt-gray-color: #ebebeb;
  --gray-color: #b9b9b9;
  --white-color: #fff;
  --font: Montserrat;
  @media (max-width: 1440px) {
    --container-width: 1300px;
  }
  @media (max-width: 1024px) {
    --container-width: 1200px;
  }
}
