.fluentform {
  .form-wrapper {
    .form-main-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 100px;
      @include media(medium) {
        grid-gap:0px;
        grid-template-columns: 1fr;
      }
      @include media(small) {
        grid-template-columns: 1fr;
        grid-gap:0;
      }
      .ff-t-cell {
        display: block;
        padding: 0;
        .ff-el-input--label {
          font-weight: 500;
          font-size: em(12);
          text-transform: uppercase;
        }
        .ff-el-form-control {
          padding: 16px 20px;
          border: 1px solid #95969a;
          box-sizing: border-box;
          border-radius: 8px;
          line-height: 1;
          height: auto !important;
          font-family: var(--font);
          font-size: 14px;
          font-weight: 500;
          color: #999;
          -webkit-appearance: none;
          -moz-appearance: none;
          text-indent: 1px;
          text-overflow: '';
          background: transparent;
      
          &:focus {
            border-color: var(--accent-color);
          }
         
          &::placeholder {
            font-weight: inherit;
            font-size: inherit;
            color: #999;
          }
        }
      }
      .form__date-container {
        .ff-el-input--content {
          position: relative;
          &:after {
            content: '';
            width: 24px;
            height: 24px;
            display: block;
            background: url(../images/date.svg);
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
          }
        }
      }
      .form__time-container {
        .ff-el-input--content {
          position: relative;
          &:after {
            content: '';
            width: 24px;
            height: 24px;
            display: block;
            background: url(../images/time.svg);
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
          }
        }
      }
      .form__select-container {
        .ff-el-input--content {
          position: relative;
          &:after {
            content: '';
            width: 16px;
            height: 16px;
            display: block;
            background: url(../images/select.svg);
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
          }
        }
      }
    }

    .checkbox-container {
      margin: 25px 0 25px 0;
      .ff-el-input--content {
        display: grid;
        grid-template-columns: repeat(3, max-content);
        grid-gap: 15px 32px;
        justify-content: space-between;
        @include media(medium) {
          grid-gap:20px;
          grid-template-columns: repeat(1 , max-content);
        }
        @include media(small) {
          grid-template-columns: 1fr;
          grid-gap:10px;
        }
        .ff-el-form-check {
          width: auto;
          display: block;
          padding: 0;
          input {
            position: fixed;
            visibility: hidden;
            opacity: 0;
            left: -999999px;
            &:checked {
              ~ span {
                &:before {
                  background-image: url(.././images/check.svg);
                  background-color: var(--accent-color);
                  background-size: 12px 14px;
                  background-position: center center;
                  background-repeat: no-repeat;
                }
              }
            }
          }
          span {
            font-weight: 500;
            font-size: em(16);
            display: flex;
            align-items: center;
            &:before {
              content: '';
              width: 20px;
              height: 20px;
              border: 1px solid var(--accent-color);
              border-radius: 4px;
              display: block;
              margin: 0 8px 0 0;
            }
          }
        }
      }
    }
    .form__btn {
      font-size: em(17);
      font-weight: 600;
      line-height: 1;
      border: none;
    }
  }
}

.car__form {

  .car__form-title {
    text-align: center;
    font-size: em(24);
    font-weight: 700;
    margin: 0 0 30px 0;
  }
}
