.car {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 20px 10px;
  margin: 0 0 90px 0;
  @include media(medium) {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 0 30px 0;
  }
  @include media(small) {
    display: flex;
    flex-direction: column;
  }
  &.car-paginate {
    margin: 0;
  }
}

.pagination {
  text-align: center;
  margin: 30px 0 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .page-numbers {
    font-size: em(17);
    font-weight: 600;
    padding: 10px 15px;
    background: rgba(6, 163, 216, 0.22);
    border-radius: 4px;
    color: var(--accent-color);
    text-decoration: none;
    display: block;
    margin: 0 10px 0 0;
    &.prev,
    &.next {
      width: 24px;
      height: 24px;
      display: block;
      padding: 0;
    }
    &.prev {
      background: url(../images/prev.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }
    &.next {
      background: url(../images/next.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }
    &:last-child {
      margin: 0;
    }
    &.current {
      background: var(--accent-color);
      color: #fff;
    }
  }
}
.car__title {
  text-align: center;
  font-size: em(24);
  font-weight: 700;
  margin: 0 0 30px 0;
}
